
body{
	font-family: Helvetica;
}

a{
	text-decoration: none;
}

.pictures{
  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
}

.item-article{
	width: 300px;
	height: 300px;
}
