<a href="#/">Go back to the galerie</a>

<div ng-show="!loading">

	<div>	
		<img ng-src="{{picture.url}}"/></br>
		<span><strong>Title</strong> : {{picture.title}}</span></br>
		<span><strong>Image size</strong> : {{picture.filesizeHumanReadable}}</br>
		<span><strong>Upload date </strong> : {{picture.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
	</div>
	
</div>