<a href="#/upload"><h1>Upload a picture</h1></a>

<div class="pictures">
	<div class="item-article" ng-repeat="p in pictures | orderBy : '-date'">
			<a ng-href="#/detail/{{p.id}}">
				<img ng-src="{{p.url}}"/>
			</a>	
	</div>
</div>