<a href="#/">Go back to the galerie</a>

<form ng-submit="uploadFile();">
	<input type="file" name="file" ng-file="fileData" /><br/>
	<input type="submit" value="Send" />
</form>

<ng-feedback succ="uploadSucceeded" mess="message"></ng-feedback>